<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com -->
    <title>@ViewData["Title"] - ProjectAnswersAndQuestions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/CheckBox/CheckBox.css"> 
    <link rel="stylesheet" href="~/css/Generick.css">
    <link rel="stylesheet" href="~/css/AQpage.css">
    <link rel="stylesheet" href="~/css/HM/HamburgerMenu.css">
    <link rel="stylesheet" href="~/css/Buttons/LinesAroundButton.css">
    <link rel="stylesheet" href="~/css/Buttons/DefaultButtonComment.css">
    <link rel="stylesheet" href="~/css/Buttons/DefaultButtonJoin.css">
    <link rel="stylesheet" href="~/css/Buttons/MenuButton.css">
    <link rel="stylesheet" href="~/css/Logo.css">
    <link rel="stylesheet" href="~/css/Text/FireText/Fire.css">
    <link rel="stylesheet" href="~/css/Popup.css">
    <link rel="stylesheet" href="~/css/Avatar/Avatar.css">
    <link rel="stylesheet" href="~/css/AddArticlePhoto/AddArticlePhoto.css">
    <link rel="stylesheet" href="~/css/StickyHeader.css">
    <link rel="stylesheet" href="~/css/Truncate.css">
    <link rel="stylesheet" href="~/css/Background/Background.css">
    <link rel="stylesheet" href="~/css/MiddleBlock.css">

</head>
<body>

    @RenderBody()
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script defer src="~/js/AQpage.js"></script>
    <script defer src="~/js/Avatar.js"></script>
    <script defer src="~/js/AddArticlePhotoWithProgressBar.js"></script>
    <script defer src="~/js/StickyHeader.js"></script>
    
    <script defer src="~/js/Galxe.js"></script>
    <script src="https://kit.fontawesome.com/1a8dc464a3.js" crossorigin="anonymous"></script>

</body>
</html>
