@using ProjectAnswersAndQuestions
@using ProjectAnswersAndQuestions.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectAnswersAndQuestions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/css/Generick.css">
    <link rel="stylesheet" href="~/css/StylesError.css">
    <link rel="stylesheet" href="~/css/Logo.css">
    <link rel="stylesheet" href="~/css/Registration.css">
</head>
<body>

    @RenderBody()

    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="js/main.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>


</html>

