
/*.middleBlock {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    width: 100px;
    height: 15px;
    margin-top: 1.5%;
}*/
