

@{
    Layout = "~/Views/Shared/_LayoutContactPage.cshtml";
}
@{
    ViewData["Title"] = "AboutPage";
}
 <div class="containerCenter">
             <p class="form-title fontWhite">Сoming soon</p>
</div>