
@{
    Layout = "~/Views/Shared/_LayoutAboutPage.cshtml";
}
@{
    ViewData["Title"] = "AboutPage";
}
@* <div class="containerCenter">
             <p class="form-title fontWhite">Сoming soon</p>
</div>*@
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

